/// -------------------------
/// LONG SHADOWS
/// -------------------------
    /// Author: Max Koehler
    /// Source: http://codepen.io/awesomephant/pen/mAxHz
    @mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right){
        $shadow: '';
        @if $skew == false or $type == text {
            @if $direction == right {
                @for $i from 0 to $length - 1 {
                    $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
                }
            }
            @if $direction == left {
                @for $i from 0 to $length - 1 {
                    $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
                }
            }
        }
        @if $fadeout == true {
            @for $i from 1 to $length - 1 {
                @if $type == text or $skew == false {
                    @if $direction == right {
                        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
                    }
                    @if $direction == left {
                        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
                    }
                }
                @if ($type == box) and $skew == true {
                    @if $direction == right {
                        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
                    }
                    @if $direction == left {
                        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
                    }
                }
            }
            $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
        }
        @if $fadeout == false {
            @if $skew == true and ( $type == box ) {
                @for $i from 0 to $length - 1 {
                    $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
                }
            }
            $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
        }
        $shadow: unquote($shadow);
        @if $type == 'box' {
            box-shadow: $shadow;
        }
        @if $type == 'text' {
            text-shadow: $shadow;
        }
    }


/// USAGE EXAMPLE
/// -------------------------
    /// HTML Structure
    /**
     * <div class="shadow">
     *     #LONG
     * </div>
     * <div class="shadow-2">
     *     <p>SHADOW</p>
     * </div>
     * <div class="shadow-3">
     *     <p>DESIGN</p>
     * </div>
    */

    /// CSS
    /**
     * .shadow {
     *     color: $white;
     *     font-family: sans-serif;
     *     font-size: 3em;
     *     font-weight: bold;
     *     margin-bottom: 100px;
     *     padding: 2%;
     *     @include background-image(linear-gradient(lighten($peach, 10), $peach));
     *     @include long-shadow(text, desaturate(darken($peach, 12), 50), 50, true, left);
     *     display: inline-block;
     *     float: left;
     *     margin-right: 2%;
     *     @include long-shadow(box, darken($midnight, 5), 120, false, true);
     * }
     * .shadow-2 {
     *     @extend .shadow;
     *     @include background-image(linear-gradient(lighten($blue-light, 10), $blue-light));
     *     @include long-shadow(text, $blue, 100, false, false, left);
     * }
     * .shadow-3 {
     *     @extend .shadow;
     *     @include background-image(linear-gradient(lighten($orange, 10), $orange));
     *     @include long-shadow(text, $red, 100, false, false, left);
     * }
     * div {
     *     overflow: hidden;
     * }
     **/
