///
/// - - - - - - - - - - - - - - - - - - - - - - - - -
///  HEADER
/// - - - - - - - - - - - - - - - - - - - - - - - - -
///





///
///  BASE
/// - - - - - - - - - - - - - - - - - - - - - - - - -
///
    .header {
        .link__logo {
            display: inline-block;
            margin: 0;
            Margin: 0;
            max-width: $global-width;
            padding: 0;
            width: 100%;

            > img {
                display: block;
                height: auto;
                max-width: $global-width;
                width: 100%;
            }
        }
    }




///
///  STYLES #2
/// - - - - - - - - - - - - - - - - - - - - - - - - -
///




