{{!-- footer.html --}}
<wrapper pardot-removable="footer">
    <row class="footer">
        <columns small="12" large="12">
            <p class="text-center" id="" pardot-region="unsubscribe-section">
                <strong><a href="%%unsubscribe%%" class="text-secondary" id="" alt="Unsubscribe">Unsubscribe</a></strong> from MBO Partners notifications.
            </p>
            <p class="text-center" id="" pardot-region="footer-copyright-section">&copy; 2017 MBO Partners</p>

            <spacer size="5"></spacer>

            <center pardot-region="footer-logo-section">
                <a class="logo-link" href="https://www.mbopartners.com" alt="MBO Partners, Inc.">
                    <!-- LOGO -->
                    <img class="logo-partners float-center"
                        src="https://s3.amazonaws.com/static.mbopartners.com/pardot/email/assets/img/logos/logo-partners.png"
                        height="50" width="131"
                        alt="MBO Partners Logo" />
                </a>
            </center>
        </columns>
    </row>
</wrapper>
