{{!-- footer.html --}}
<wrapper pardot-removable="footer">
    <row class="footer">
        <columns small="12" large="12">
            <p class="text-center" id="" pardot-region="join-connect-section" pardot-removable>
                <small>
                    Rather join MBO Connect&trade; later? Have us re-send your invite in: <a href="#" class="text-primary" id="" alt="3 months">3 months</a> <a href="#" class="text-primary" id="" alt="6 months">6 months</a> <a href="#" class="text-primary" id="" alt="9 months">9 months</a>
                </small>
            </p>
            <p class="text-center" id="" pardot-region="unsubscribe-section">
                <small>
                    <strong><a href="%%unsubscribe%%" class="text-secondary" id="" alt="Unsubscribe">Unsubscribe</a></strong> from MBO Partners notifications.
                </small>
            </p>
            <p class="text-center" id="" pardot-region="footer-copyright-section">&copy; 2017 MBO Partners</p>

            <spacer size="5"></spacer>

            <center pardot-region="footer-logo-section">
                <a class="logo-link" href="https://www.mbopartners.com" alt="MBO Partners, Inc.">
                    <!-- LOGO -->
                    <img class="logo-partners float-center"
                        src="https://s3.amazonaws.com/static.mbopartners.com/pardot/email/assets/img/logos/logo-partners.png"
                        height="50" width="131"
                        alt="MBO Partners Logo" />
                </a>
            </center>
        </columns>
    </row>
</wrapper>
