{{!-- signature.html --}}
<row class="row__signature" pardot-removable="signature-section">
    <columns small="12" large="12">
        <p class="" pardot-region="signature-blurb-section">
            MBO Connect is a platform for independent professionals yada yada yada ... Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>

        <spacer size="20"></spacer>

        <p class="" pardot-region="salutations-section">
            Thanks,
            <br/>
            %%user_first_name%%
        </p>

        <p class="user-signature" pardot-region="user-email-signature">
            %%user_html_signature%%
        </p>

        <spacer size="20"></spacer>
    </columns>
</row>
